<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aaa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.aaa.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.aaa.A1"
            android:label="@string/title_activity_a1" >
        </activity>
        <activity
            android:name="com.example.aaa.A2"
            android:label="@string/title_activity_a2" >
        </activity>
        <activity
            android:name="com.example.aaa.A3"
            android:label="@string/title_activity_a3" >
        </activity>
        <activity
            android:name="com.example.aaa.A4"
            android:label="@string/title_activity_a4" >
        </activity>
        <activity
            android:name="com.example.aaa.AWeb"
            android:label="@string/title_activity_aweb" >
        </activity>
        <activity
            android:name="com.example.aaa.AList"
            android:label="@string/title_activity_alist" >
        </activity>
        <activity
            android:name="com.example.aaa.Cam"
            android:label="@string/title_activity_cam" >
        </activity>
        <activity
            android:name="com.example.aaa.ADraw"
            android:label="@string/title_activity_adraw" >
        </activity>
    </application>

</manifest>